# Rust build artifacts - should always be ignored
rust_lib/target/
**/target/

# WebAssembly build artifacts - for this project, I am committing pkg/ for GitHub Pages simplicity.
# In many projects, this pkg/ directory would also be ignored.

# IDE-specific folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
